- if @status == "ok"
    = render 'movie'
- else
    %br
    .columns
        .column.is-8.is-offset-2
            .notification.is-danger
                .title.is-3.text-center.text-w900
                    %i.fa.fa-exclamation.fa-lg
                    %br
                    Something went wrong!
                    %br
                    Database could not be reached.