%header.search.row
    .col.col--3-of-5.col--centered
        .desc
            %strong find movie posters
            %small (from yts)
    .col.col--3-of-5.col--centered
        %form{:role => 'search', :method => 'get'}
            = text_field_tag :q, params[:q], class: 'search-bar', placeholder: 'movie name?', oninvalid: 'this.setCustomValidity("Type something!")'
- if @result
    .results.row
        - @result.each do |movie|
            - if @result.count > 1
                .col.col--1-of-5.col--m-1-of-5.col--s-1-of-5
                    .box
                        %a{:download => movie["title_long"].tr(':','').concat('.jpg'), :href => movie["large_cover_image"]}
                            .box-img
                                .poster{:style => "background-image: url("+movie["medium_cover_image"]+")"}
            - else
                .col.col--1-of-5.col--m-1-of-5.col--s-1-of-5.col--centered
                    .box
                        %a{:download => movie["title_long"].tr(':','').concat('.jpg'), :href => movie["large_cover_image"]}
                            .box-img
                                .poster{:style => "background-image: url("+movie["medium_cover_image"]+")"}
- else
    - if params[:q]
        %h3.bad Nothing was found!