.title.is-1.has-text-centered.has-weight-100
    Things that made this possible
    %br
    %i.fa.fa-chevron-down.fa-fw
.info.has-text-centered
    %img{:src => image_url("developer.svg")}
    %img{:src => image_url("logos/yts-logo.svg")}
    %img{:src => image_url("logos/rails-logo.svg")}
    %img{:src => image_url("logos/ruby-logo.svg")}
    %img{:src => image_url("logos/haml-logo.svg")}
    %img{:src => image_url("logos/sass-logo.svg")}
    %img{:src => image_url("logos/coffeescript-logo.svg")}
    %img{:src => image_url("logos/bulma-logo.svg")}
    %img{:src => image_url("logos/font-awesome-logo.svg")}