@import "vars";
.movie-box{
    width: 250px;
    margin: 20px;
    line-height: normal;
    border: none;
    background: transparent;
    .panel{
        border-radius: 20px;
        overflow: hidden;
        border: none;
        background: white;
        margin-bottom: 20px;
        .panel-heading{
            padding: 0;
            border: none;
            border-radius: 0;
            overflow: hidden;
            line-height: 0;
            .movie-poster{
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                background-image: url(http://placehold.it/250x375);
                color: #888;
                text-align: center;
            }
        }
        .panel-body{
            position: relative;
            background: transparent;
            padding: 0 10px;
            h1{
                display: inline-block;
                font-weight: 300;
                font-size: 30pt;
                line-height: 35px;
                padding: 20px 0;
            }
            p{
                font-weight: 200;
                font-size: 17pt;
                color: #666;
            }
        }
        .panel-footer{
            background-color: transparent;
            border: none;
            padding-top: 15px;
            h2{
                font-weight: 400;
                font-size: 20pt;
                letter-spacing: -3px;
            }
            .rating{
                font-size: 14pt;
                font-weight: bold;
                color: #fba400;
                display: block;
                margin-bottom: 10px;
            }
            .label-genre{
                background: transparent;
                color: #888;
                font-weight: 200;
                letter-spacing: 0;
                font-size: 15pt;
                padding: 10px 0;
                display: block;
                &:hover{
                    color: white;
                    background: $dark;
                    font-weight: 500;
                }
            }
            .pg{
                a{
                    color: #888;
                    border: 1px solid #888;
                    box-sizing: border-box;
                    background: white;
                    display: inline-block;
                    border-radius: 10px;
                    font-size: 13pt;
                    font-weight: 400;
                    padding: 5px;
                    margin: 5px 0;
                    &:hover{
                        background: $dark;
                        color: white;
                    }
                }
            }
        }
    }
    .link-group{
        width: 100%;
        padding: 0;
        margin-top: -15px;
        text-align: center;
        .dl-link{
            display: inline-block;
            padding: 0;
            width: 60px;
            height: 60px;
            text-align: center;
            border-radius: 100%;
            line-height: 60px;
            margin: 5px;
            font-size: 14pt;
            font-weight: 300;
            background: white;
            color: $dark;
            border: none;
            &:hover{
                color: white;
                background: $dark;
            }
        }
    }
}