// Place all the styles related to the omdb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "grid";
$break-small: 320px;
$break-large: 1200px;
.desc{
    text-align: center;
    font-size: 12pt;
    font-weight: 100;
    strong{
        font-weight: 500;
    }
}

.bad{
    color: black;
    text-align: center;
    margin: 0;
    padding: 50px 0;
    background-color: crimson;
}

.box{
    
    margin: 10px;
    .box-img{
        border-radius: 10px;
        overflow: hidden;
        position:relative;
        z-index: 1;
        background-color: dimgray;
        .poster{
            width: 100%;
            @media screen and (orientation: landscape){
                height: 25vw;
            }
            @media screen and (orientation: portrait){
                height: 100vw;
            }
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            transition: .1s ease;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .title{
        font-weight: 100;
        font-size: 17pt;
        color: black;
        color: #999;
    }
    .year{
        font-weight: 100;
        font-size: 10pt;
        margin-top: -20px;
        color: gray;
    }
}

.results{
    background-color: #222;
    padding: 50px 0;
}

.search{
    margin: 50px 0;

}

.search-bar{
    width: 100%;
    border-radius: 50px;
    border: none;
    background: #eee;
    font-size: 25pt;
    font-weight: 100;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}