.pagination-bar{
    text-align: center;
    margin: 50px 0 !important;
    .controls, .pages{
        white-space:nowrap;
    }
    .controls.left{
        text-align: right;
    }
    .controls.right{
        text-align: left;
    }
    .controls{
        display: inline-block;
        a{
            color: white;
            &:hover{
                color: #333;
            }
        }
    }
    .pages{
        display: inline-block;
        a.page{
            background: white;
            color: #333;
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 17pt;
            font-weight: 200;
            text-align: center;
            border-radius: 100%;
            margin: 0 3px;
            &:hover{
                background: #333;
                color: white;
            }
        }
        span.current-page{
            background: rgba(0,0,0,.3);
            color: white;
            border: 1px solid #333;
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 17pt;
            font-weight: 200;
            text-align: center;
            border-radius: 100%;
            margin: 0 10px;
            cursor: default;
        }
    }
}