.search.control{
    #year{
        width: 115px !important;
    }
    #query{
        width: 525px !important;
    }
    .input, .select > select{
        border: none;
        background: white;
        border-radius: 0;
        font-weight: 200;
        font-size: 15pt;
        box-shadow: 0 0;
        padding-right: 25px;
        padding-left: 5px;
    }
    .input, .button{
        &:first-child{
            border-radius: 20px 0 0 20px !important;
        }
        &:last-child{
            border-radius: 0 20px 20px 0 !important;
        }
    }
    .button{
        background: white;
        color: #333;
        border: none;
        &:hover{
            background: #333;
            color: white;
        }
    }
}