#info-button
    = link_to "static/info" do
        %i.fa.fa-info.fa-2x
.top-bar.has-text-centered
    =link_to root_path do
        %img.logo{:src => image_url("popcornee-logo.svg")}
        %br
        %img{:src => image_url("popcornee-title.svg"), :width => "200px"}